body
{
margin:0px;
}

.demo 
{
font-size:18px;
color:gray;
font-family: 'New Rocker', cursive;
height:20;
width:500px;
float:right;
margin-top:60px
}

.header
{
font-size:40px;
color:white;
font-family:Rye, sans-serif;
letter-spacing:-1px;
margin-bottom:60px;
margin-left:40px;
width:400px;
background: #4c4c4c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #4c4c4c 0%, #000000 49%, #000000 50%, #000000 98%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4c4c4c), color-stop(49%,#000000), color-stop(50%,#000000), color-stop(98%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #4c4c4c 0%,#000000 49%,#000000 50%,#000000 98%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #4c4c4c 0%,#000000 49%,#000000 50%,#000000 98%,#000000 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #4c4c4c 0%,#000000 49%,#000000 50%,#000000 98%,#000000 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #4c4c4c 0%,#000000 49%,#000000 50%,#000000 98%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.plaatjes img
{
border-right:1px solid white;
border-bottom:1px solid white;
padding:10px;
}

.copyright
{
font-size:8px;
color:gray;
font-family:Rye, sans-serif;
margin-left:40px;
}

.miniatuur img
{
height:213px;
width: 320px;
}
